:root {
  --colorPrimary: #fb1;
  --colorSecondary: hsl(60, 97%, 15%);
  --colorLink:hsl(60, 100%, 10%);

  --colorText: #333;
  --colorError: #f31;
  --colorSuccess: #4c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  --fontPrimary: Helvetica, Arial, sans-serif;
  --fontSecondary: 'Spectral', Georgia;
  font-family: var(--fontPrimary);

}

a {
  text-decoration: none;
  color: var(--colorLink);
  font-weight: 600;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--fontPrimary);
  color: #333;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 112px);
  margin-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}