:root {
  --colorPrimary: #ffbb11;
  --colorSecondary: #7c5501;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  --fontPrimary: Helvetica, Arial, sans-serif;
  --fontSecondary: 'Spectral', Georgia;
  font-family: var(--fontPrimary);

  padding-top: 4rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--fontPrimary);
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}